{% extends 'accounts/base.html' %}
{% block content %}
<nav class="py-6 px-6 flex justify-center items-center border-b border-gray-200">
  <h1 class="trivia">
      <span>C</span>
      <span>a</span>
      <span>t</span>
      <span>e</span>
      <span>g</span>
      <span>o</span>
      <span>r</span>
      <span>i</span>
      <span>e</span>
      <span>s</span>
  </h1>
</nav>
<div class="category-grid">
  {% for category in categories %}
  <div class="category-item">
    <a href="{% url 'game:play' category.id %}">{{ category.name }}</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
