{% extends 'accounts/base.html' %}

{% block content %}
<nav class="py-6 px-6 flex justify-center items-center border-b border-gray-200">
  <h1 class="trivia">
      <span>C</span>
      <span>a</span>
      <span>t</span>
      <span>e</span>
      <span>g</span>
      <span>o</span>
      <span>r</span>
      <span>i</span>
      <span>e</span>
      <span>s</span>
  </h1>
</nav>
<div class="grid grid-cols-2 gap-4">
  {% for category in categories %}
  <a href="{% url 'game:play' category.id %}" class="p-6 border border-gray-200 rounded-xl transition-colors duration-200 hover:bg-gray-300 block text-center">
    {{ category.name }}
  </a>
  {% endfor %}
</div>
{% endblock %}
