{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'game.css' %}">

    <div class="container">
        <div class="game-info">
            <div class="question-number">
                Question: {{ game.questions.count }} / 20
            </div>
            <div class="timer-bar">
                <!-- This will be updated by JavaScript -->
                <div class="time-left"></div>
            </div>
            <div class="score">
                Score: {{ game.score }}
            </div>
        </div>
        <div class="question">
            <h2>{{ game.current_question }}</h2>
        </div>
        <div class="answers">
            {% for answer in choices %}
                <button class="answer" data-answer-id="{{ forloop.counter }}" style="color:black">
                    {{ answer }}
                </button>
            {% endfor %}


        </div>
        
    </div>
{% endblock %}

<script>
    var answerButtons = document.getElementsByClassName('answer');
    var questionElement = document.querySelector('.question h2');
    var scoreElement = document.querySelector('.score');
    var questionNumberElement = document.querySelector('.question-number');

    for (var i = 0; i < answerButtons.length; i++) {
        answerButtons[i].addEventListener('click', function(e) {
            e.preventDefault();

            for (var j = 0; j < answerButtons.length; j++) {
                answerButtons[j].disabled = true;
            }

            var clickedButton = this;

            fetch('{% url "game:check_answer" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'answer_text': this.textContent
                })

            })
            .then(response => response.json())
            .then(data => {
                if (clickedButton.dataset.isCorrect === 'true') {
                    clickedButton.style.backgroundColor = 'green';
                } else {
                    clickedButton.style.backgroundColor = 'red';
                }

                if (!data.error) {
                    // Update the question text
                    questionElement.textContent = data.question;

                    // Update the score
                    scoreElement.textContent = 'Score: ' + data.score;

                    // Update the question number
                    questionNumberElement.textContent = 'Question: ' + data.questions_answered + ' / 20';

                    // Update the answer choices
                    for (var k = 0; k < answerButtons.length; k++) {
                        answerButtons[k].textContent = data.choices[k];
                        answerButtons[k].disabled = false;
                        answerButtons[k].style.backgroundColor = '#F0F0F0';
                        answerButtons[k].style.color = 'black';

                        if (k === data.correct_choice_index) {
                            answerButtons[k].dataset.isCorrect = 'true';
                        } else {
                            answerButtons[k].dataset.isCorrect = 'false';
                        }
                    }
                } else {
                    // Handle error
                    console.error(data.error);
                }
            });
        });
    }
</script>




